[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MeTo"]
	path = MeTo
	url = https://github.com/cran/MeTo
[submodule "SoilHyP"]
	path = SoilHyP
	url = https://bitbucket.org/ullid/soilhyp
	subdir = SoilHyP
